<h2> Create a new Anime Entry </h2>

<form class="" action="/anime_entries" method="post">
    <label for="name">Anime Name</lable>
    <input type="text" name="name" value="">
    <label for="name">Favorite Character</lable>
    <input type="text" name="fav_character" value="">
    <label for="name">Anime Rating</lable>
    <input type="text" name="rating" value="">
    <input type="submit" name="" value="Create Anime Entry">
</form>